@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");

$pink_color_1: #FF0043;
$pink_color_2: #cc0036;
$custom_bg_1: #FFF;
$custom_bg_2: #333;
$custom_bg_3: #333;
$custom_bg_4: #E2E2E2;

